{% extends 'base.html.twig' %}

{% block title %}{{ 'site_name'|trans }}{% endblock %}

{% block navbarbrand %}{{ count }} {{ 'mushroom_count'|trans }}{% endblock %}

{% block og_image %}{% if randomRozcestnik.photos.0 is defined %}{{ absolute_url(asset('uploads/photos/' ~ randomRozcestnik.photos.0.path)) }}{% else %}{{ absolute_url(asset('images/android-chrome-512x512.png')) }}{% endif %}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div id="map" style="height: 80vh;"></div>
    </div>

    {% include 'map/modal.html.twig' %}

{% endblock %}

{% block mapscripts %}
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=marker&v=weekly&language=sk"
            defer></script>
    <script>
        const hribiky = {{ mushrooms|raw }};
    </script>
{% endblock %}
