<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'id': 'addForm'}}) }}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">{{ 'mushroom.add_title'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'mushroom.form_title_placeholder'|trans}}) }}
                        {{ form_errors(form.title) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'mushroom.form_name_placeholder'|trans }}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'mushroom.form_email_placeholder'|trans}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.photos, {'attr': {'class': 'form-control' }}) }}
                        {{ form_errors(form.photos) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'mushroom.form_description_placeholder'|trans }}) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.altitude, {'attr': {'class': 'form-control', 'placeholder': 'mushroom.form_altitude_placeholder'|trans}}) }}
                        {{ form_errors(form.altitude) }}
                        <div id="altitudeText" class="form-text">{{ 'mushroom.form_altitude_guess'|trans }}</div>
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.latitude, {'attr': {'class': 'form-control', 'id': 'latitude' }}) }}
                        {{ form_errors(form.latitude) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.longitude, {'attr': {'class': 'form-control', 'id': 'longitude' }}) }}
                        {{ form_errors(form.longitude) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="rozcestnikFormSubmitButton" class="btn btn-primary ajaxFormSubmitButton">{{ 'submit'|trans }}</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% include 'map/rozcestnik_update_modal.html.twig' with { form: rozcestnikUpdateForm } %}
<div class="modal fade" id="existingHribikModal" tabindex="-1" aria-labelledby="existingHribikModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="existingHribikModalLabel">{{ 'before.form_title'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'close'|trans }}"></button>
            </div>
            <div class="modal-body" id="existing-modal-body">
                <h5>{{ 'before.form_description'|trans }}</h5>
                <ul class="list-group mb-3" id="existingMushroomsList">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="fw-semibold mushroomTitle"></span>
                        <button class="btn btn-sm btn-primary update-hribik" data-id="10">
                            {{ 'before.form_add'|trans }}
                        </button>
                    </li>
                </ul>
                <hr>
                <button id="newHribikAnyway" class="btn btn-success">{{ 'before.form_add_new_anyway'|trans }}</button>
            </div>
        </div>
    </div>
</div>
