{% extends 'base.html.twig' %}

{% block title %}{{ 'about.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-3 col-md-6 offset-md-3">
        <h2>{{ 'about.title'|trans }}</h2>
        <p class="text-justify">{{ 'about.description'|trans }}</p>
        <h2>{{ 'about.how_title'|trans }}</h2>
        <p>{{ 'about.how_description'|trans }}</p>
        <h2>{{ 'about.what_title'|trans }}</h2>
        <p>{{ 'about.what_description'|trans }}</p>
        <h2>{{ 'about.techstack_title'|trans }}</h2>
        <p>{{ 'about.techstack_description'|trans }}</p>
    </div>
{% endblock %}
