{% extends 'emails/base.html.twig' %}

{% block header %}{{ 'email.new_feedback.title'|trans }}{% endblock %}

{% block body %}
<p>{{ 'email.new_feedback.description'|trans }}</p>
<p>{{ feedback.text }}</p>
<p>{{ 'email.new_feedback.click_here'|trans}} {{ url('admin_feedback_index') }}</p>
{% endblock %}
