{% extends 'emails/base.html.twig' %}

{% block header %}{{ 'api.header'|trans }}{% endblock %}

{% block body %}
    <p>{{ 'api.welcome'|trans }}:</p>
    <p><pre>{{ key.keyValue }}</pre></p>
    <p>{{ 'api.valid_until'|trans }} {{ key.validUntil|date('d.m.Y H:i') }}</p>
    <p>{{ 'api.greeting'|trans }}</p>
{% endblock %}
