{% extends 'base.html.twig' %}

{% block title %}{{ 'api.title_generate'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title mb-4 text-center">{{ 'api.title_generate'|trans }}</h3>
                        <p>{{ 'api.info'|trans }}</p>
                        <pre>/api/mushrooms/</pre>
                        <pre>/api/mushrooms/{:id}</pre>
                        <p>{{ 'api.info_bottom'|trans }}</p>
                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}

                        {% if apiKey %}
                            <div class="alert alert-success">
                                {{ 'api.key_generated'|trans }}
                                <strong>{{ apiKey.keyValue }}</strong>
                            </div>
                            <p>{{ 'api.valid_until'|trans }} {{ apiKey.validUntil|date('d.m.Y H:i') }}</p>
                        {% endif %}
                        <form method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">{{ 'form.email'|trans }}</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'form.email_placeholder'|trans }}" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">{{ 'api.generate'|trans }}</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
