{# templates/feedback/form.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'feedback.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5 col-lg-6 offset-lg-3 col-md-10 offset-md-1">
        <h1>{{ 'feedback.title'|trans }}</h1>
        <a class="btn btn-outline-secondary mt-3 mb-3" href="{{ path('status') }}">{{ 'feedback.check_progress'|trans }}</a>
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success">{{ flash }}</div>
        {% endfor %}
        <p>{{ 'feedback.description'|trans }}</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
