{# templates/feedback/status.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'feedback.status'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ 'feedback.status'|trans }}</h1>
        <p>{{ 'feedback.status_description'|trans }}</p>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>{{ 'date'|trans }}</th>
                <th>{{ 'text'|trans }}</th>
                <th>{{ 'status'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for fb in feedbacks %}
                <tr>
                    <td>{{ fb.createdAt|date('d.m.Y H:i') }}</td>
                    <td>{{ fb.text }}</td>
                    <td>
                        {% set statusClass = {
                            'NotRead': 'secondary',
                            'Accepted': 'success',
                            'Rejected': 'danger',
                            'InProgress': 'warning',
                            'Done': 'primary'
                        }[fb.status.name] %}
                        <span class="badge bg-{{ statusClass }}">{{ fb.status.label }}</span>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'feedback.no_status'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
